@import url('https://fonts.googleapis.com/css2?family=Acme&family=Kaushan+Script&family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@600&family=Parisienne&family=Roboto+Slab&family=Ubuntu&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    color: white;
}

body{
    background-color: black;
}

a{
    text-decoration: none;
}

.navbar{
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.navbar .icon {
    display: none;
  }

.navbar a{
    float: left;
    display: block;
    color: #fcabe8;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Acme', sans-serif;
}

.right{
    float: right;
}

a.name{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    color: #d580ff;
    text-shadow: 2.5px 2.5px 4px rgb(183, 4, 174);
    padding: 5px;
}
  
.navbar a:hover{
    /* background-color: #16F529; */
    color: palevioletred;
}

a.name:hover:not(.active){
    background-color: black;
    color: #FF8080;
    text-shadow: 2.5px 2.5px 4px red;
}

.name1{
    font-family: 'Vollkorn', serif;
    font-size: 40px;
    padding-left: 16px;
    padding-top: 20px;
    font-weight: 500;
    color: #04fcf4;
}

.introline{
    padding-right: 10px;
    margin: auto;
}

.intro{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding-top: 10px;
    padding-bottom: 10px;
    /* height: 75vh; */
}

.imageintro{
    margin: auto;
    text-align: center;
}

.intro1{
    font-family: 'Vollkorn', serif;
    font-size: 30px;
    padding-left: 16px;
    text-align: justify;
    color: #abf3ce;
}

.flex1{
    flex: 1;
}

.profiles{
    padding-left: 16px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all ease 0.2s;
}

.fa-github,.fa-linkedin,.fa-hackerrank,.fa-instagram,.fa-envelope{
    /* padding: 5px; */
    font-size: 48px;
}

.circle:hover{
    transform: translateY(-5px);
}

.skills{
    display: flex;
    justify-content: space-around;
}

.skillimg{
    margin: auto;
    text-align: center;
}

.icontext{
    font-family: 'Roboto Slab', serif;
}

.skillsicon{
    flex: 1;
    margin-right: 1em;
    border-style: solid;
    border-color: #73ff00;
    padding: 10px 10px 10px 10px;
    transition: all ease 0.2s;
    /* background-color: #0d0a0b;
    background-image: linear-gradient(315deg, #0d0a0b 0%, #009fc2 74%); */
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #8d0b96 10%, #5f3471 40%, #0a086c 74%);
}

.h1head{
    color: #29fdb6;
    padding-left: 16px;
    font-family: 'Ubuntu', sans-serif;
    /* text-shadow: 2px 2px 4px #05fba9; */
}

.skills,.achievements,.education,.projects,.experience,.certifications{
    padding-left: 16px;
}

.dot{
    height: 75px;
    width: 75px;
    background-color: white;
    border-radius: 100%;
    display: inline-block;
}

.dot1{
    display: inline-block;
    height: 100px;
    width: 100px;
    padding-right: 1em;
}

.dot1 p{
    text-align: center;
}

.skillcircle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
}

.education,.experience,.projects{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.kj,.pace,.dav{
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    margin-bottom: 2em;
    border-style: solid;
    border-color: #C0FF00;
    padding: 10px 10px 10px 10px;
    width: 30%;
    box-shadow: 6px 6px 5px #658601;
    transition: all ease 0.2s;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    /* background-color: #eec0c6;
    background-image: linear-gradient(120deg, #eec0c6 0%, #7ee8fa 74%); */
}

.kj:hover,.pace:hover,.dav:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px #acdc1a;
}

.edubox{
    color: #c4fa22;
}

.pbj,.voice,.travel{
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    margin-bottom: 2em;
    border-style: solid;
    border-color: #c53afc;
    box-shadow: 7.5px 7.5px 5px #712290;
    padding: 10px 10px 10px 10px;
    width: 45%;
    transition: all ease 0.2s;
    background-color: #bbff99;
    background-image: linear-gradient(120deg, #bbff99 0%, #ffec99 37%, #ff9999 100%);
}

.pbj:hover,.voice:hover,.travel:hover{
    transform: translateY(-5px);
    box-shadow: 1px 10px 35px 2px #b50af8;
}

.projectbox{
    color: #ff46b8;
}

.computerwerx{
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    margin-bottom: 2em;
    border-style: solid;
    border-color: #0080ff;
    padding: 10px 10px 10px 10px;
    width: 45%;
    box-shadow: 7.5px 7.5px 5px #0256aa;
    transition: all ease 0.2s;
    background-color: #726cf8;
    background-image: linear-gradient(315deg, #726cf8 0%, #e975a8 74%);
}

.computerwerx:hover{
    transform: translateY(-5px);
    box-shadow: 1px 10px 35px 2px #1f84ea;
}

.workbox{
    color: #c0ef30;
}

.edubox li,.projectbox li,.workbox li,h3.edubox,h3.workbox{
    color: black;
}

#logos{
    padding: 10px;
}

.box p,.box1 p{
    color: black;
}

.box,.box1{
    font-family: 'Acme', sans-serif;
    font-size: x-large;
    /* float: left; */
    padding: 2em;
    margin-right: 0.5em;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    background-color: #efefd0;
    box-shadow: 0px 5px 20px 2px rgba(0,255,255,0.7);  
    transition: all ease 0.2s;
    /* border-style: solid; */
    /* border-color: #000; */

    background-image: linear-gradient(175deg, rgba(0,0,0,0) 95%, #8da389 95%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 95%, #8da389 95%),
                      linear-gradient(175deg, rgba(0,0,0,0) 90%, #b4b07f 90%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 92%, #b4b07f 92%),
                      linear-gradient(175deg, rgba(0,0,0,0) 85%, #c5a68e 85%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 89%, #c5a68e 89%),
                      linear-gradient(175deg, rgba(0,0,0,0) 80%, #ba9499 80%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 86%, #ba9499 86%),
                      linear-gradient(175deg, rgba(0,0,0,0) 75%, #9f8fa4 75%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 83%, #9f8fa4 83%),
                      linear-gradient(175deg, rgba(0,0,0,0) 70%, #74a6ae 70%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 80%, #74a6ae 80%);
}

.box:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 30px 2px rgba(0,255,255,0.7);
}

.box1{
    background-color: #ececb3;
    box-shadow: 0px 5px 20px 2px rgb(255, 200, 0);
    background-image: linear-gradient(175deg, rgba(0, 0, 0, 0) 95%, #ffcc80 95%),
                  linear-gradient(85deg, rgba(0, 0, 0, 0) 95%, #ffcc80 95%),
                  linear-gradient(175deg, rgba(0, 0, 0, 0) 90%, #ffb74d 90%),
                  linear-gradient(85deg, rgba(0, 0, 0, 0) 92%, #ffb74d 92%),
                  linear-gradient(175deg, rgba(0, 0, 0, 0) 85%, #ff8a65 85%),
                  linear-gradient(85deg, rgba(0, 0, 0, 0) 89%, #ff8a65 89%),
                  linear-gradient(175deg, rgba(0, 0, 0, 0) 80%, #ff7043 80%),
                  linear-gradient(85deg, rgba(0, 0, 0, 0) 86%, #ff7043 86%),
                  linear-gradient(175deg, rgba(0, 0, 0, 0) 75%, #ff6e40 75%),
                  linear-gradient(85deg, rgba(0, 0, 0, 0) 83%, #ff6e40 83%),
                  linear-gradient(175deg, rgba(0, 0, 0, 0) 70%, #ff8f00 70%),
                  linear-gradient(85deg, rgba(0, 0, 0, 0) 80%, #ff8f00 80%);
}

.box1:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 30px 2px rgb(255, 200, 0);
}

.accomplishments1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.acc{
    padding-top: 20px;
}

/* ###Loader### */

#preloader{
    background: #000 url(https://i.pinimg.com/originals/3d/08/e0/3d08e03cb40252526fee2036a67f07f1.gif) center center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
}

.figload{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.loadimg{
    height: 25em;
    width: 32em;
    z-index: 100;
}

.figname,.figname1{
    font-size: 2.5em;
    font-family: 'Merienda', cursive;
    color: #16F529;
    z-index: 100;
}

.figname1{
    font-size: 1.5em;
}

/* ###ScrollAnimations### */

.hidden{
    opacity: 0;
    transition: 0.75s;
    filter: blur(0.3em);
    transform: translateX(-20%);
    /* transition-delay: calc(100ms*var(--order)); */
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidacc:nth-child(2){
    transition-delay: 100ms;
}

.hidacc:nth-child(3){
    transition-delay: 200ms;
}

.hidacc:nth-child(4){
    transition-delay: 300ms;
}

.hidacc:nth-child(5){
    transition-delay: 400ms;
}

/* ###Responsive### */

@media screen and (max-width: 1200px){
    .intro,.skills{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .skills{
        padding-left: 0px;
    }
    .skillsicon{
        margin-left: 16px;
    }
    .introcomp{
        z-index: 0;
    }
    .name1{
        font-size: 35px;
    }
    .intro1{
        font-size: 26.25px;
    }
}

@media screen and (max-width: 992px){
    .introcomp{
        height: 383.69px;
        width: 576px;
    }
    .name1{
        font-size: 33px;
    }
    .intro1{
        font-size: 24.75px;
    }
    .skillcircle{
        height: 70px;
        width: 70px;
    }
    .btstrap{
        width: 84px;
    }
    .dot1{
        padding-right: 0px;
    }
    p.icontext{
        font-size: 14px;
    }
}

@media screen and (max-width: 805px){
    .introcomp{
        height: 350.38px;
        width: 526px;
    }
    .laptop{
        height: 350px;
        width: 502.64px;
    }
    .name1{
        font-size: 30px;
    }
    .intro1{
        font-size: 22.5px;
        padding-right: 16px;
    }
    .skillcircle{
        height: 65px;
        width: 65px;
    }
    .btstrap{
        width: 78px;
    }
}

@media screen and (max-width: 700px){
    .introcomp{
        height: 317.07px;
        width: 476px;
    }
    .laptop{
        height: 300px;
        width: 430.83px;
    }
    .skillcircle{
        height: 60px;
        width: 60px;
    }
    .btstrap{
        width: 72px;
    }
}

@media screen and (max-width: 1300px){
    .kj,.pace,.dav{
        width: 500px;
    }
}

@media screen and (max-width: 1125px){
    .kj,.pace,.dav{
        width: 450px;
    }
}

@media screen and (max-width: 1020px){
    .kj,.pace,.dav,.pbj,.travel,.voice,.computerwerx{
        width: 700px;
        margin-right: 16px;
    }
}

@media screen and (max-width: 800px){
    .kj,.pace,.dav,.pbj,.travel,.voice,.computerwerx{
        width: 550px;
    }
}

@media screen and (max-width: 600px){
    .kj,.pace,.dav,.pbj,.travel,.voice,.computerwerx{
        width: 450px;
    }
}

@media screen and (max-width: 500px){
    .kj,.pace,.dav,.pbj,.travel,.voice,.computerwerx{
        width: 350px;
    }
    .pbjimg,.voiceimg{
        height: 160.06px;
        width: 267.51px;
    }
    .travelimg{
        height: 160.06px;
        width: 81.4px;
    }
    .introcomp{
        height: 237.8px;
        width: 357px;
    }
    .laptop{
        height: 247.5px;
        width: 355.43px;
    }
    .circle{
        height: 50px;
        width: 50px;
    }
    .fa-github,.fa-linkedin,.fa-hackerrank,.fa-instagram,.fa-envelope{
        font-size: 36px;
    }
}

@media screen and (max-width: 484px){
    .skillsicon{
        width: 310.2px;
    }
}

@media screen and (max-width: 380px){
    .skillsicon{
        width: 207.4px;
    }
}

@media screen and (max-width: 420px){
    .introcomp{
        height: 199.83px;
        width: 300px;
    }
    .laptop{
        height: 208.9px;
        width: 300px;
    }
}

@media screen and (max-width: 370px){
    .laptop{
        height: 174.08px;
        width: 250px;
    }
    .name1{
        font-size: 25px;
    }
    .intro1{
        font-size: 18.75px;
    }
    .box,.box1{
        width: 275px;
        height: 275px;
    }
    .box p,.box1 p{
        font-size: 22px;
    }
}

@media screen and (max-width: 325px){
    .introcomp{
        height: 166.52px;
        width: 250px;
    }
}

@media screen and (max-width: 300px){
    .name1{
        font-size: 20px;
    }
    .intro1{
        font-size: 15px;
    }
}

@media screen and (max-width: 700px){
    img.loadimg{
        height: 300px;
        width: 384px;
    }
    .figname{
        font-size: 1.75em;
    }
    .figname1{
        font-size: 1.05em;
    }
}

@media screen and (min-width: 1201px){
    .heroimg{
        height: 85vh;
    }
    .intro{
        height: 75vh;
    }
}

@media screen and (min-width: 630px){
    .box,.box1{
        margin-right: 1em;
    }
}

/* ###Navbar### */

@media screen and (max-width: 1230px) {
    .navbar a:not(.name):not(.icon) {
        display: none;
    }
    .navbar a.icon {
      float: right;
      display: block;
    }
    .navbar{
        position: relative;
        z-index: 10;
    }
}
  
@media screen and (max-width: 1230px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a{
      float: none;
      display: block;
      text-align: center;
    }
    .navbar.responsive{
        display: grid;
        align-items: center;
        z-index: 10;
    }
    .navbar.responsive a:not(.icon) {
        display: block;
    }
}