@import url('https://fonts.googleapis.com/css2?family=Acme&family=Kaushan+Script&family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@600&family=Parisienne&family=Ubuntu&display=swap');

*{
    color: white;
}

body{
    background-color: black;
}

a{
    text-decoration: none;
}

#preloader{
    background: url(https://thumbs.gfycat.com/EagerGentleAxolotl-max-1mb.gif);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
  
li{
    float: left;
}
  
li a{
    display: block;
    color: #fcabab;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Acme', sans-serif;
}

li.name a{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    color: #FF8080;
    text-shadow: 2px 2px 4px red;
}
  
.nav li a:hover:not(.active){
    background-color: #16F529;
    color: black;
}

li.name a:hover:not(.active){
    background-color: black;
    color: #FF8080;
}

.name1{
    font-family: 'Vollkorn', serif;
    font-size: 40px;
    padding-left: 16px;
    padding-top: 20px;
    font-weight: 500;
    color: #d7ff39;
}

.intro{
    display: flex;
    justify-content: space-around;
}

.intro1{
    font-family: 'Vollkorn', serif;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 16px;
    font-weight: 300;
    text-align: justify;
    color: #e0e097;
}

.flex1{
    flex: 1;
}

.introline{
    /* width: 50%;
    padding-right: 50px;
    float: left; */
    margin-right: 50px;
}

/* .imageintro{
    float: right;
    width: 50%;
    align-content: center;
    padding-left: 20px;
} */

.profiles{
    padding-left: 16px;
    padding-top: 30px;
    display: flex;
    align-items: center;
}

.circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    /* transition: background-color 0.3s; */
}

.fa-github,.fa-linkedin,.fa-hackerrank,.fa-instagram,.fa-envelope{
    /* padding: 5px; */
    font-size: 48px;
}

/* .circle:hover{
    background-color: #000000;
} */

.skills{
    display: flex;
    justify-content: space-around;
}

.skillimg{
    margin-top: 17.5px;
    margin-right: 50px;
    margin-left: 45px;
}

.h1head{
    color: #29fdb6;
    padding-left: 16px;
    font-family: 'Ubuntu', sans-serif;
    /* text-shadow: 2px 2px 4px #05fba9; */
}

.skills,.education,.projects,.experience,.accomplishments{
    padding-left: 16px;
}

.dot{
    height: 75px;
    width: 75px;
    background-color: white;
    border-radius: 100%;
    display: inline-block;
}

.dot1{
    display: inline-block;
    height: 100px;
    width: 100px;
}

.dot1 p{
    text-align: center;
}

.skillcircle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
}

.education,.experience,.projects{
    display: flex;
    justify-content: space-around;
}

.kj,.pace,.dav{
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    border-style: solid;
    border-color: #C0FF00;
    padding: 10px 10px 10px 10px;
    width: 30%;
    box-shadow: 6px 6px 5px #658601;
    transition: all ease 0.2s;
    background-color: #eec0c6;
    background-image: linear-gradient(120deg, #eec0c6 0%, #7ee8fa 74%);
}

.kj:hover,.pace:hover,.dav:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px #658601;
}

.computerwerx{
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    border-style: solid;
    border-color: #0080ff;
    padding: 10px 10px 10px 10px;
    width: 50%;
    box-shadow: 6px 6px 5px #0256aa;
    transition: all ease 0.2s;
    background-color: #f9c5d1;
    background-image: linear-gradient(120deg, #f9c5d1 0%, #9795ef 74%);
}

.computerwerx:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px #0256aa;
}

.pbj,.voice,.travel{
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    border-style: solid;
    border-color: #c53afc;
    box-shadow: 6px 6px 5px #712290;
    padding: 10px 10px 10px 10px;
    width: 30%;
    transition: all ease 0.2s;
    background-color: #bbff99;
    background-image: linear-gradient(120deg, #bbff99 0%, #ffec99 37%, #ff9999 100%);
}

.pbj:hover,.voice:hover,.travel:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px #712290;
}

.edubox{
    color: #ae2cfe;
}

.edubox li,.projectbox li,.workbox li,h3.edubox,h3.workbox{
    color: black;
}

.projectbox{
    color: #f8119f;
}

.workbox{

}

#logos{
    padding: 10px;
}

.box p{
    color: black;
}

.box{
    font-family: 'Acme', sans-serif;
    font-size: x-large;
    float: left;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 2em;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    background-color: #e4e4d9;
    box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7);  
    transition: all ease 0.2s;

    background-image: linear-gradient(175deg, rgba(0,0,0,0) 95%, #8da389 95%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 95%, #8da389 95%),
                      linear-gradient(175deg, rgba(0,0,0,0) 90%, #b4b07f 90%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 92%, #b4b07f 92%),
                      linear-gradient(175deg, rgba(0,0,0,0) 85%, #c5a68e 85%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 89%, #c5a68e 89%),
                      linear-gradient(175deg, rgba(0,0,0,0) 80%, #ba9499 80%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 86%, #ba9499 86%),
                      linear-gradient(175deg, rgba(0,0,0,0) 75%, #9f8fa4 75%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 83%, #9f8fa4 83%),
                      linear-gradient(175deg, rgba(0,0,0,0) 70%, #74a6ae 70%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 80%, #74a6ae 80%);
}

.box:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
}

.accomplishments1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.acc{
    padding-top: 20px;
}


.loadimg{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6em;
}

.figname{
    font-size: 40px;
    font-family: 'Merienda', cursive;
    text-align: center;
    color: #16F529;
}